<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon site{% endblock %}</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <main class="container">
        <nav>
            <ul>
                {% if session.getUser %}
                    <li><a href="{{ router.generate('main-home') }}">Créer un post</a></li>
                    <li>Bonjour {{ session.getUser.getEmail }} 
                        ( 
                            {% if session.isAuthor %}Editeur,{% endif %}
                            {% if session.isPublisher %}Auteur{% endif %} 
                        )
                    </li>
                {% else %}
                    <li>Bonjour, vous n'êtes pas connecté</li>
                    <li><a href="{{ router.generate('main-login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>