.my-2 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.form-group {
    margin: 1rem auto;
}

.invalid input {
    border-color: #dc3545 !important;
}

.alert.alert-danger {
    color: #dc3545;
    margin-bottom: 0.5rem;
}