{% if notification.hasErrorFor(key) %}
    {% for error in notification.getErrorsFor(key) %}
        {% if error.fieldName == key %}
            <div class="alert alert-danger my-1">{{ error.message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}
